.gf-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .gf-header a {
    color: rgba(0, 0, 0, 0.791);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--brand-color_5);
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px 40px;
    transition: all ease-in 0.2s;
  }
  
  .gf-header a:hover {
    box-shadow: 0 0px 15px 0px #fff;
  }

  @media screen and (max-width: 640px) {
   .gf-header a {
     padding: 8px 16px;
    font-size: 16px;
   }
  }

  @media screen and (max-width: 480px) {
    .gf-header a {
        padding: 4px 8px;
        font-size: 12px;
        margin: 10px 20px;
  }
}