:root {
  --fz: 16px;
  --theme--contrast-0: #121212;
  --theme-body-bg: #0b0b0b;
  --theme-body-txt: #f85252;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: tomato;
  --brand-color_5: #fff35c;
  --brand-color_6: #8429de;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  color: #09f;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 30px;
  padding: 0;
  
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
   
    margin: 0 auto 20px;
}

.form-input {
  font-size: 20px;
  border: none;
  padding: 4px 30px;
  border-radius: 10px 0 0 10px;
}

.form-btn {
  font-size: 20px;
  border: none;
  padding: .5rem 1rem;;
  border-radius: 0 10px 10px 0;
  background-color: var(--brand-color_3);
  color: var(--theme-body-bg);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.Category-title {
  font-size: 1.17em;
  font-weight: 700;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.Category-link {
  font-size: 0.9em;
}

/* -------------------- rf-layout  - Component / header */
.o-header {
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: var(--zIndex-header);
  max-height: var(--search-size-mx-h);
}